# Global .gitignore for PRIM/VLM2Vec

experiments/public/exps/train/**
!experiments/public/exps/train/**/
!experiments/public/exps/train/**/*.log

slurm_results/*

experiments/public/data/vlm2vec_eval/*
experiments/public/data/vlm2vec_train/*

.cursor/*
__pycache__/*